.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }
 // toollbar
 .toolbar{    
    //position: absolute;
    top: 0%;
    left: 0%;
    background-color: #3f51b5;
}
//sidebar

.sidenav {
   position: absolute;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
 }
 .tp-section-top{
   display: flex;
   align-content: center;
   align-items: center;
   height: 64px;
   width:100px;  
   padding-left: 20px;; 
   padding-right: 0.5rem;
   color: #3f51b5;
   background-color: white;
 }
 
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 64px;
    width:116px;  
    padding-left: 20px;; 
    padding-right: 0.5rem;
    color:  #3f51b5;
 }
 .tp-section:hover {
   cursor: pointer;
   background-color: #3f51b5;
   color: white;
}
 //drawer icons
 .side-icons{
   margin-right: 0.5rem;
 }
 //table icons
 .table_icons{
    color:#673ab7 !important;
 }
 .urlSel{
   color: white  !important;
   background: #3f51b5 !important;
}
.urlSel:hover{
   color: white  !important;
   background: #192c99 !important;
}
